<html>
<head>
</head>
<body>
<h1>Task - 1</h1>

<p>
    <a target="_blank" href="https://task1.tenthmatrix.co.uk/chart.html">Dashboard</a></br>
    <a target="_blank" href="https://task1.tenthmatrix.co.uk/test1">Sub task 1</a></br>
    <a target="_blank" href="https://task1.tenthmatrix.co.uk/test2">Sub task 2</a></br>
    <a target="_blank" href="http://task1.tenthmatrix.co.uk/male_female">Age Structure - England and Wales March 2011 (Male/Females)</a></br>
    <a target="_blank" href="https://task1.tenthmatrix.co.uk/test4">Age Structure - England and Wales March 2011 (Person count by regions)</a></br>
    <a target="_blank" href="https://task1.tenthmatrix.co.uk/test6">Age Structure - England and Wales March 2011 (Percentage by UK regions)</a></br>
    <a target="_blank" href="https://task1.tenthmatrix.co.uk/test7">Age Structure - England and Wales March 2011 (Dynamically increasing total count)</a></br>
</p>

</body>
</html>