<%
var locNameStr="", geoCode="";
if (typeof queryStr.area !== 'undefined' && queryStr.area !== null && queryStr.area !="") {
locNameStr=queryStr.area;
}
if (typeof queryStr.code !== 'undefined' && queryStr.code !== null && queryStr.code !="") {
geoCode=queryStr.code;
}
%>
<html>
<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<label>Select Area : </label>
<select id="areaChart2Data" onChange="generate_chart()">
	<option value="K04000001" selected>England and Wales</option>
	<option value="E92000001">England</option>
	<option value="E12000001">North East</option>
	<option value="E06000047">County Durham UA</option>
	<option value="E12000002">NORTH WEST </option>
	<option value="E12000003">YORKSHIRE AND THE HUMBER</option>
	<option value="E12000004">EAST MIDLANDS</option>
	<option value="E12000005">WEST MIDLANDS</option>
	<option value="E12000007">LONDON</option>
	<option value="E12000008">SOUTH EAST</option>
	<option value="E12000009">SOUTH WEST</option>
	<option value="W92000004">WALES</option>
</select>
<h3>UK 2011 <span class="locName"></span> - Key stats</h3>
<h4>Age Structure (Pie Chart)</h3>
<p>This table provides information about the age structure, pie chart of different age groups of <span class="locName"></span> as at census day, 27 March 2011.
</p>

<div id="myDiv" style="width: 1400px; height: 600px;"><!-- Plotly chart will be drawn inside this DIV --></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
var matchArr2=["KS101EW0002", "KS101EW0003"];
var contentArr="";
function generate_chart(){
	var locNameStr=$("#areaChart2Data :selected").text();
	$(".locName").html(locNameStr);
	var data2=[];
	var codeStr=$("#areaChart2Data").val();
	$.each(contentArr, function(i, row){
		if(row['GeographyCode']==codeStr){
			var yArr2=[];
			$.each(row, function(index, value){
				if(matchArr2.indexOf(index) != -1){  
   					yArr2.push(value);
				}
			});
			
  			var trace2= {
    			labels: ["Male", "Female"],
    			values: yArr2,
    			type: 'pie'
  			}
  			data2.push(trace2);
		}
	});
	
 	var layout2 = {
 		height: 500,
  		width: 700
	};
	Plotly.newPlot('myDiv', data2, layout2);
}


Plotly.d3.csv('data/KS101EWDATA.CSV', function(err, rows){
	contentArr=rows;
	generate_chart();
});
</script>
</body>
</html>