<% include include/main-header %>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">	
 <div class="wrapper">
<% include include/header %>
  
  <!-- Left side column. contains the logo and sidebar -->
  <% include include/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
      <section class="content">
<p>
    Here's a simple Plotly plot - 
    <a href="http://bit.ly/1Or9igj">plotly.js documentation</a>
</p>

<div id="tester" style="width:90%;height:250px;"></div>
</section>
</div>
 <% include include/footer %>
<script>
	
Plotly.d3.csv('data/KS101EWDATA.CSV', function(err, rows){
	$.each(rows, function(i, row){
		if(i<=10){
			console.log(row);
		}else{
			return false;
		}
	});
});
</script>
</body>
</html>