  <footer class="main-footer">
    <strong>Copyright &copy; 2016-2017 <a href="https://uk.linkedin.com/in/bwalia" target="_blank">Balinder Walia</a>.</strong> All rights
    reserved.
  </footer>
  </div>






<script src="js/jquery-2.2.3.min.js"></script>


<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-checkbox-radio-switch.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();
	   $('#table-breakpoint').basictable({
        breakpoint: 751
      });

      
    });
  </script>
  
  <script src="js/basictable.js"></script>
 
<script src="js/app.min.js"></script>

<script src="js/Chart.min.js"></script>
<script src="js/jquery.flot.min.js"></script>